<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width,user-scalable=no" name="viewport">
        <meta name="keywords" content="此时导航, 网址导航, 导航">
        <meta name="description" content="网址导航">
        <title>此时导航</title>
        <link rel="stylesheet" href="./style/main.css" />
        <link rel="stylesheet" href="//at.alicdn.com/t/font_2846982_m0ik62kqki8.css" />
        <script src="./script/vue.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- <script src='./script/jquery.min.js'></script> -->
        <style>
            #app .el-collapse-item__header, .el-collapse-item__wrap {
                background-color: transparent !important;
            }
            .card-scroll::-webkit-scrollbar { 
                width: 0 !important;
            }
            #app .el-carousel__indicators--horizontal {
                bottom: 30px;
                right: 0;
                left: auto;
            }
            #app .el-carousel__button {
                width: 4px;
                height: 4px;
                border-radius: 2px;
            }
            .card-detail .el-dialog__header {
                display: none;
            }
            .card-detail .dialog-close {
                position: absolute;
                right: 20px;
                top: 20px;
                cursor: pointer;
            }
            .card-detail .el-dialog__body h1 {
                color: #333;
            }
            .el-menu {
                background-color: transparent !important;
            }
            .sidebar-menu {
                border: none;
                padding-top: 44px;
                overflow-y: scroll;
            }
            .sidebar-menu:not(.el-menu--collapse) {
                width: 240px;
                min-height: 400px;
            }
        </style>
    </head>
    <body>
        <div class="画心" id="app">
            <el-header class="天杆" height="44px">
                <div class="nav-container">
                    <a class="nav-logo" href="./index.html">
                        <img src="./assets/images/logo.png"/>
                    </a>
                    <div class="nav-main">
                        <ul>
                            <li><a href="/index.html">首页</a></li>
                            <li><a target="_blank" href="https://www.chiven.net/">人寻</a></li>
                            <li><a href="./pages/about.html">关于</a></li>
                        </ul>
                    </div>
                    <a title="Github" class="nav-btn" target="_blank" href="https://github.com/chiven-young/now-nav"><i class="iconfont icon-github-fill"></i></a>
                </div>
            </el-header>
            <el-container class="page-container">
                <el-drawer
                    title="我是标题"
                    :visible.sync="drawer"
                    direction="ltr"
                    custom-class="nav-drawer">
                    <span>我来啦!</span>
                </el-drawer>
                <el-menu default-active="1-4-1" class="sidebar-menu" @open="handleOpen" @close="handleClose" :collapse="isCollapse">
                    <el-menu-item index="1">
                        <i class="el-icon-position"></i>
                        <span slot="title">开始</span>
                    </el-menu-item>
                    <el-submenu index="2">
                        <template slot="title">
                        <i class="el-icon-basketball"></i>
                        <span slot="title"><a href="#nav-design">设计</a></span>
                        </template>
                        <el-menu-item index="2-1">热门</el-menu-item>
                        <el-menu-item index="2-2">灵感</el-menu-item>
                        <el-menu-item index="2-3">资讯</el-menu-item>
                        <el-menu-item index="2-4">UI-UX</el-menu-item>
                        <el-menu-item index="2-5">图标</el-menu-item>
                        <el-menu-item index="2-6">图库</el-menu-item>
                        <el-menu-item index="2-7">配色</el-menu-item>
                        <el-menu-item index="2-8">字体</el-menu-item>
                        <el-menu-item index="2-9">素材</el-menu-item>
                        <el-menu-item index="2-10">规范</el-menu-item>
                    </el-submenu>
                    <el-submenu index="3">
                        <template slot="title">
                        <i class="el-icon-monitor"></i>
                        <span slot="title"><a href="#nav-dev">开发</a></span>
                        </template>
                        <el-menu-item-group>
                        <span slot="title">分组一</span>
                        <el-menu-item index="3-1">选项1</el-menu-item>
                        <el-menu-item index="3-2">选项2</el-menu-item>
                        </el-menu-item-group>
                        <el-menu-item-group title="分组2">
                        <el-menu-item index="3-3">选项3</el-menu-item>
                        </el-menu-item-group>
                        <el-submenu index="3-4">
                        <span slot="title">选项4</span>
                        <el-menu-item index="3-4-1">选项1</el-menu-item>
                        </el-submenu>
                    </el-submenu>
                    <el-menu-item index="4">
                        <i class="el-icon-document"></i>
                        <span slot="title">导航三</span>
                    </el-menu-item>
                    <el-menu-item index="5">
                        <i class="el-icon-setting"></i>
                        <span slot="title">导航四</span>
                    </el-menu-item>
                </el-menu>
                <el-main class="main-container">
                    
                    <div class="plugin-board" style="height: 600px;padding-top: 100px;">
                        <div class="weather">
                            <div id="he-plugin-simple" style="display: contents;"></div>
                            <script>
                                WIDGET = {
                                    "CONFIG": {
                                        "modules": "02",
                                        "background": "5",
                                        "tmpColor": "FFFFFF",
                                        "tmpSize": "20",
                                        "cityColor": "FFFFFF",
                                        "citySize": "16",
                                        "aqiColor": "FFFFFF",
                                        "aqiSize": "16",
                                        "weatherIconSize": "30",
                                        "alertIconSize": "18",
                                        "padding": "0px 5px 0px 5px",
                                        "shadow": "0",
                                        "language": "auto",
                                        "fixed": "false",
                                        "vertical": "middle",
                                        "horizontal": "left",
                                        "key": "257fe54e3a0b4cd29b399d2831bd56e0"
                                    }
                                }
                            </script>
                            <script src="https://widget.qweather.net/simple/static/js/he-simple-common.js?v=2.0"
                                defer=""></script>
                        </div>
                    </div>
                    <!-- 搜索 -->
                    <div class="s-search">
                        <div id="search" class="s-search mx-auto">
                            <div id="search-list-menu" class="hide-type-list">
                                <div class="s-type text-center overflow-x-auto">
                                    <div class="s-type-list big">
                                        <div class="anchor" style="position: absolute; left: 50%; opacity: 0;"></div>
                                        <label for="type-baidu1" class="active" data-id="group-b"><span>搜索</span></label>
                                        <label for="type-br" data-id="group-c"><span>工具</span></label>
                                        <label for="type-zhihu" for="type-taobao1" data-id="group-e"><span>生活</span></label>
                                        <label for="type-zhaopin" data-id="group-f"><span>求职</span></label>
                                    </div>
                                </div>
                            </div>
                            <form action="/search.html?key=" method="get" target="_blank" class="super-search-fm">
                                <input type="text" id="search-text" class="form-control smart-tips search-key" zhannei=""
                                    placeholder="输入关键字搜索" style="outline:0" autocomplete="off">
                                <button type="submit"><i class="iconfont icon-search"></i></button>
                            </form>
                            <div id="search-list" class="hide-type-list">
                                <div class="search-group group-b s-current">
                                    <ul class="search-type">
                                        <li><input checked="checked" hidden="" type="radio" name="type" id="type-baidu1"
                                                value="https://www.baidu.com/s?wd=" data-placeholder="百度一下"><label
                                                for="type-baidu1"><span class="text-muted">百度</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-google1"
                                                value="https://www.google.com/search?q=" data-placeholder="谷歌两下"><label
                                                for="type-google1"><span class="text-muted">Google</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-360"
                                                value="https://www.so.com/s?q=" data-placeholder="360好搜"><label
                                                for="type-360"><span class="text-muted">360</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-sogo"
                                                value="https://www.sogou.com/web?query=" data-placeholder="搜狗搜索"><label
                                                for="type-sogo"><span class="text-muted">搜狗</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-bing1"
                                                value="https://cn.bing.com/search?q=" data-placeholder="微软Bing搜索"><label
                                                for="type-bing1"><span class="text-muted">Bing</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-sm"
                                                value="https://yz.m.sm.cn/s?q=" data-placeholder="UC移动端搜索"><label
                                                for="type-sm"><span class="text-muted">神马</span></label></li>
                                    </ul>
                                </div>
                                <div class="search-group group-c ">
                                    <ul class="search-type">
                                        <li><input hidden="" type="radio" name="type" id="type-br"
                                                value="https://rank.chinaz.com/all/" data-placeholder="请输入网址(不带https://)"><label
                                                for="type-br"><span class="text-muted">权重查询</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-links"
                                                value="https://link.chinaz.com/" data-placeholder="请输入网址(不带https://)"><label
                                                for="type-links"><span class="text-muted">友链检测</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-icp"
                                                value="https://icp.aizhan.com/" data-placeholder="请输入网址(不带https://)"><label
                                                for="type-icp"><span class="text-muted">备案查询</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-ping"
                                                value="https://ping.chinaz.com/" data-placeholder="请输入网址(不带https://)"><label
                                                for="type-ping"><span class="text-muted">PING检测</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-404"
                                                value="https://tool.chinaz.com/Links/?DAddress="
                                                data-placeholder="请输入网址(不带https://)"><label for="type-404"><span
                                                    class="text-muted">死链检测</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-ciku"
                                                value="https://www.ciku5.com/s?wd=" data-placeholder="请输入关键词"><label
                                                for="type-ciku"><span class="text-muted">关键词挖掘</span></label></li>
                                    </ul>
                                </div>
                                <div class="search-group group-d ">
                                    <ul class="search-type">
                                        <li><input hidden="" type="radio" name="type" id="type-zhihu"
                                                value="https://www.zhihu.com/search?type=content&q="
                                                data-placeholder="知乎"><label for="type-zhihu"><span
                                                    class="text-muted">知乎</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-wechat"
                                                value="https://weixin.sogou.com/weixin?type=2&query="
                                                data-placeholder="微信"><label for="type-wechat"><span
                                                    class="text-muted">微信</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-weibo"
                                                value="https://s.weibo.com/weibo/" data-placeholder="微博"><label
                                                for="type-weibo"><span class="text-muted">微博</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-douban"
                                                value="https://www.douban.com/search?q=" data-placeholder="豆瓣"><label
                                                for="type-douban"><span class="text-muted">豆瓣</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-why"
                                                value="https://ask.seowhy.com/search/?q=" data-placeholder="SEO问答社区"><label
                                                for="type-why"><span class="text-muted">搜外问答</span></label></li>
                                    </ul>
                                </div>
                                <div class="search-group group-e ">
                                    <ul class="search-type">
                                        <li><input hidden="" type="radio" name="type" id="type-taobao1"
                                                value="https://s.taobao.com/search?q=" data-placeholder="淘宝"><label
                                                for="type-taobao1"><span class="text-muted">淘宝</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-jd"
                                                value="https://search.jd.com/Search?keyword=" data-placeholder="京东"><label
                                                for="type-jd"><span class="text-muted">京东</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-xiachufang"
                                                value="https://www.xiachufang.com/search/?keyword="
                                                data-placeholder="下厨房"><label for="type-xiachufang"><span
                                                    class="text-muted">下厨房</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-xiangha"
                                                value="https://www.xiangha.com/so/?q=caipu&s=" data-placeholder="香哈菜谱"><label
                                                for="type-xiangha"><span class="text-muted">香哈菜谱</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-12306"
                                                value="https://www.12306.cn/?" data-placeholder="12306"><label
                                                for="type-12306"><span class="text-muted">12306</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-kd100"
                                                value="https://www.kuaidi100.com/?" data-placeholder="快递100"><label
                                                for="type-kd100"><span class="text-muted">快递100</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-qunar"
                                                value="https://www.qunar.com/?" data-placeholder="去哪儿"><label
                                                for="type-qunar"><span class="text-muted">去哪儿</span></label></li>
                                    </ul>
                                </div>
                                <div class="search-group group-f ">
                                    <ul class="search-type">
                                        <li><input hidden="" type="radio" name="type" id="type-zhaopin"
                                                value="https://sou.zhaopin.com/jobs/searchresult.ashx?kw="
                                                data-placeholder="智联招聘"><label for="type-zhaopin"><span
                                                    class="text-muted">智联招聘</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-51job"
                                                value="https://search.51job.com/?" data-placeholder="前程无忧"><label
                                                for="type-51job"><span class="text-muted">前程无忧</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-lagou"
                                                value="https://www.lagou.com/jobs/list_" data-placeholder="拉钩网"><label
                                                for="type-lagou"><span class="text-muted">拉钩网</span></label></li>
                                        <li><input hidden="" type="radio" name="type" id="type-liepin"
                                                value="https://www.liepin.com/zhaopin/?key=" data-placeholder="猎聘网"><label
                                                for="type-liepin"><span class="text-muted">猎聘网</span></label></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card search-smart-tips" style="display: none">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                    <el-radio-group v-model="isCollapse">
                        <el-radio-button :label="false">展开</el-radio-button>
                        <el-radio-button :label="true">收起</el-radio-button>
                    </el-radio-group>
                    <el-switch
                        v-model="isCollapse"
                        active-color="#13ce66"
                        inactive-color="#ff4949">
                    </el-switch>
                    <el-button @click="drawer = true" type="primary" style="margin-left: 16px;">
                        点我打开
                    </el-button>
                    <div id="nav-design">
                        <div class="section-title">
                            <span class="color-deep">更新了，</span><span class="color-shallow">看看这些新图标！<sup>1</sup></span>
                        </div>
                        <div class="nav-list-container">
                            <div v-for="item in navs" class="nav-card-item">
                                <img :src="item.imgUrl" class="card-nav-img">
                                <div class="card-info">
                                    <div class="card-title" v-bind:title='item.name'>{{item.name}}</div>
                                    <div class="card-desc">{{item.desc}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer-content></footer-content>
                </el-main>
            </el-container>
        </div>
        <script src="./script/img-bg.js"></script>
        <script src="./script/components.js"></script>
        <script src="./script/main.js"></script>
    </body>
</html>